h1 {
    page-break-before: always;
    margin-top: 100%;
    width: 100%;
    background-color: blue;
    color: white;
    padding: 1em;
}

p {
    font-size: larger;
}

li {
    font-size: large;
}

li li {
    font-size: inherit;
}

img {
    max-height: 80%;
    max-width: 80%;
}
